<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div class="page">
        <header class="header">
            <div class="logo"></div>
            <nav class="nav">
                <ul>
                    <li>О Компании</li>
                    <li>Игра</li>
                    <li>Правила</li>
                    <li>Помощь</li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <section class="prize">
                <h1>Призы</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus cursus id est semper tempor. Integer sagittis lectus ac tellus suscipit consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nec gravida arcu, eu ultricies ante. Nullam ullamcorper volutpat lacus sit amet varius. Proin ultricies nulla vel justo dignissim, aliquam scelerisque ex pulvinar. Cras rhoncus, nisi eu aliquet fermentum, libero felis tincidunt enim, eget varius lorem mi nec odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In quis ante nec lorem vehicula faucibus vel congue nulla. Nulla ac dolor non erat imperdiet pretium quis at quam.</p>
                <br><br>
                <div class="outer">
                    <div id="app" class="prizes" v-cloak>
                        <div class="shuffleWrapper">
                            <transition-group name="shuffleMedium" tag="div" class="deck" ref="deck" @enter="onEnter" @leave="onLeave" v-if="isLoaded">
                                <div v-for="card in cards" :key="card.id" class="card" :class="suitColor[card.suit]">
                                    <span class="card__number">{{ card.rank }} </span>
                                    <span class="card__suit card__suit--bottom">{{ card.suit }}</span>
                                </div>
                            </transition-group>
                        </div>
                        <br /><br />
                        <div class="main-buttons">
                            <button @click="displayInitialDeck" class="button is-primary is-outlined">
                                Reset
                            </button>
                            <button @click="shuffleRandomDeck" class="button is-primary">
                                Shuffle
                            </button>
                        </div>
                    </div>
                </div>
                <br><br>
                <hr />
                <h2>Правила</h2>
                <ul>
                    <li>Сделать заказ на 1500р</li>
                    <li>Оплатить до ...</li>
                    <li></li>
                </ul>
            </section>
        </main>
        <footer class="footer">
            &copy;Компания 2023
        </footer>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.11/vue.global.prod.min.js"></script> -->
    <script type="text/javascript" src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
    <script>
    new Vue({
        el: '#app',
        data: {
            ranks: [...Array(10).keys()].map(i => i + 1),
            cards: [],
            suitColor: {
                '1': 'black',
                '2': 'black',
                '3': 'red',
                '4': 'red',
            },
            isLoaded: false,
            isRunning: false
        },
        created() {
            this.displayInitialDeck();
        },
        methods: {
            onEnter() {
                this.isRunning = true;
            },
            onLeave() {
                this.isRunning = false;
            },
            displayInitialDeck() {
                let id = 1;
                this.cards = [];

                for (let r = 0; r < this.ranks.length; r++) {
                    let card = {
                        id: id,
                        rank: this.ranks[r],
                        // suit: this.suits[s]
                    }
                    this.cards.push(card);
                    id++;
                }

            },
            shuffleRandomDeck() {
                for (let i = this.cards.length - 1; i > 0; i--) {
                    let randomIndex = Math.floor(Math.random() * i);

                    let temp = this.cards[i];
                    Vue.set(this.cards, i, this.cards[randomIndex]);
                    Vue.set(this.cards, randomIndex, temp);
                }

            },
        },
        mounted() {
            const tl = new TimelineMax();
            this.$nextTick(() => {
                this.isLoaded = true;

                tl.add(this.shuffleRandomDeck, 1)
            })
        }

    });
    </script>
</body>

</html>